<% provide(:title, 'Edit') %>

<h2>Edit</h2>
<div>
 <p>
   入力したテキストおよび画像は公開されます。
   個人情報や不適切な内容を投稿することはご遠慮ください。<br>
   The text and picture you upload here will be public.
   Please do not upload personal information or offensive contents.
 </p>
</div>


<%= form_for(@micropost) do |f| %>
　<%= render 'shared/error_messages', object: f.object %>
  <!--<div class="form-horizontal">-->
    <div class="form-group">
      <%= f.label :content, "Text" %>
      <%= f.text_area :content, placeholder: "Enter some text here...", class: "form-control" %>
    </div>


    <div class="form-group">
      <%= f.label :picture, "Picture" %>
      <%= f.file_field :picture, accept: 'image/png' %>
      <p class="help-block">
        png ファイルのみアップロード可能です。 You can upload png files only.
      </p>
    </div>
     
    <div class="form-group">
      <%= f.submit "Update", class: "btn btn-primary btn-lg btn-block" %>
    </div>
  <!--</div>-->
<% end %>
<%= link_to 'Back', root_url %>

<script type="text/javascript">
$(document).ready(function(){
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
});
</script>
